*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width:100%;
    display:grid;
    grid-template-columns: repeat(1,1fr);
}

.container1{
    width:100%;
    height: 500px;
    border: 0px solid red;
    display: flex;
}

/* .about{
    width: 100%;
    display:flex;
    flex-direction: column;
   justify-content: center;
    align-items: left;
    border: 0px solid black;
    padding: 50px;
    background-color:rgb(214, 214, 214) ;
} */


.info{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: left;
    
    padding-left: 180px;
    padding-top: 15px;
    width: 40%;
    height:100%;
    background-color: rgb(214, 214, 214);
    color: black;
    border: 0px solid red;
    
}

.intra{
    margin-top: 100px;
}

.name{
    margin-top: 30px;
    font-size: 25px;
}

.dev{
    color: gray;
    margin: 5px;
    
}

.socials{
    margin-top: 60px;
    transition: transform 0.3s ease-in-out;
    
    
}

.nav{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    border: 0px solid greenyellow;
    gap:30px;
    
}

.imgg{
    width:30px;
    height:30px;
    border-radius: 5px;
    background-color: gray;
    padding: 5px;
    border:0px solid black;
    transition: 0.3s ease-in-out;
    color: black;
    margin: 10px;
   
}

.socials .imgg:hover{
    background-color: hotpink;
    transform: scale(1.08);
}



#logo{
    width:25px;
}

#logo1{
    
    width:25px;
   
}

.logo1{
    display: none;
}

.img{
    width: 60%;
    height:100%;
    background-color: black;
    color:white;
    border-left: 80px solid rgb(214, 214, 214);
    border-bottom: 500px solid transparent;
   box-sizing: border-box;

    
}

/* styling my picture */

#img1{
    width:50%;
    height: 100%;
    display: block;
   
    /* transition: transform 0.3s ease-in-out; */
}

/* #img1:hover{
    transform: scale(1.08);
} */

.pix{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styling class menus and nav*/
.menus{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:70px;
    padding: 10px;
    border: 0px solid red;
    width:60%;

    
    
}

.menus a{
    
    text-decoration: none;
    color:white;
}

.navLink{
    transition: 0.2s ease-in-out;
}

.navLink:hover{
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;

}

.menuc a{
    color: black;
    
}
.menuc{
    border: 0px solid white;
    padding: 5px;
    border-radius: 10px;
    background-color:white;
    font-size: 12px;
}

.menuc:hover{
    border: 0px solid white;
    padding: 5px;
    border-radius: 10px;
    background-color:white;
    font-size: 12px;
}

/* styling class black */

.black{
    height:100px;
    width:100%;
    background-color: rgb(41, 39, 39);
    border: 2px solid black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    
   
}

#black{
    font-size: 12px;
    margin: 5px;
}

/* stylying abaut class */

.abaut{
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(214, 214, 214);
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    width:100%;
}

.set{
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    border: 4px solid black;
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myabout{
    font-size: 14px;
}


.explore{
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
    font-family: "Montserrat", sans-serif;
}

#explore{
    margin: 30px;
    
}

/* styling card class */

#card{
    width:100%;
    border: 0px solid rgb(169, 124, 124);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.parent{
    display: flex;
    justify-content: center;
    width:100%;
}

.parent card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#card h3{
    display: flex;
    justify-content:center;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    border: 0px solid black;
    width: 200px;
    padding: 10px;
    
}


.des{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    
    border: 0px solid yellowgreen;
    margin: 0px; 
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    padding: 10px;
}



/* styling skill class */

.skill{
    background-color:rgb(214, 214, 214);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.use{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: start;
    
    padding: 10px;
    
    border: 0px solid red;
    
    margin: 30px;
    margin-left: -250px;
    font-family: "Montserrat", sans-serif;
    
    
 
}

.lang{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    width: 450px;
  
}

.lange{
    width:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:0px solid red;
}

.lang p{
   font-size: 12px;

}

/* my portfolio */

.portfolio{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-color:rgb(214, 214, 214);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-bottom: 20px;
    border: 0px solid black;
    text-align: center;
    gap: 20px;
}

.porfolio card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 600px;
    
    border: 0px solid red;
    
}

.portt{
  
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    margin-top: 100px;
    border: 4px solid black;
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.crd{
    width:250px;
    height: 250px;
    border: 1px solid black;
    padding: 20px;
    display: block;
    border-radius: 10px 10px 0 0;
    margin: 35px;
    margin-bottom: 0px;

    
    
}

.conct{
    margin: 35px;
}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width:250px;
    min-height: 160px;
    
    padding: 20px;
    display: block;
    border: 0px solid red;
    margin: 35px;
    margin-top: 0px;
}

.detail:hover{
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
}

.detail h3{
    margin: 5px;
    text-align: left;
}

.detail p{
    margin: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.detail a{
    padding: 5px;
    text-align: left;
    border: 0px solid red;
    color: blue;
   
}



.lnk{
    text-decoration: none;
    border: 0px solid black;
    font-size: 18px;
    color:black;
    padding: 5px;
    display: flex;

   
    
 }

 .lnk:hover{
    
    border: 0px solid black;
    color:black;
    
    border-radius: 5px;
 }

 /* styling contact class */

 .contact{
    text-align: center;
    background-color: white;
    color:black;
    padding: 20px;
    background-color:rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    input{
        width:400px;
        height: 30px;
        margin:10px;
        
    }

    textarea{
        width:400px;
    }
    .contact button{
        background-color: black;
        color:white;
        border:none;
        border-radius: 15px;
        padding: 15px;
        margin: 10px;
     }

     /* styling the footer */

     .footer{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 20px;
        background-color: black;
        color:white;
        
     }

     .footer a{
        text-decoration: none;
        font-size: 20px;
        text-transform: capitalize;
        color: white;
        
     }

     #copy{
        font-size: 20px;
        margin: 10px;
     }

     .social{
        margin: 10px;
       margin-bottom: 5px;
       border: 0px solid red;
       display: flex;
     }

     .img2{
        width:40px;
     }



     /* Harmburger */



.hamburger{
    display:none;
    cursor: pointer;
    /* width:100%; */

}

.Menu{
    width:30px;
    height: 20px;
    
}

  


.line{
    display: block;
    width: 30px;
    height: 2px; 
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    border: 2px solid black;
    margin: 5px;
    
   
}



     @media (max-width:768px){
        .menus{
            max-height: 0px;
        }

        
        .hamburger{
            
            display: block;
            position: relative;
            width: 40px;
            height: 30px;
            border-radius: 4px;
            cursor: pointer;
            border: 0px solid red;
            
            margin: 0px 10px;
            background-color: white;
            border: none;
            outline: none;
            top: 0px;
            left: 10%;
            /* margin-right: -500px; */
              
        }

        .logo1{
            display: flex;
            justify-content: center;
            align-items: center;
            height:30px;
           
            margin-left: -10%;
            
        }

        #logo{
            display:none;
        }

       .harmbug.active .line:nth-child(2){
            opacity: 0;
        }
    
        .harmbug.active .line:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
    
        .harmbug.active .line:nth-child(3){ 
            transform: translateY(-8px) rotate(-45deg);
        }

        .menus.active{
            transform: translate(0) !important;
        }
        
        .menus{
            display: none;
            /* position: relative;
            left: 0; 
            border: 2px solid rgb(237, 20, 20);
            width:100%;
            text-align: center;
            transition: 0.5s;
            gap:15px;
            background-color: black;
           height: 800px;
            
            transform: translateX(-1000px);  */
        }

        .mobile{
           display:flex;
           flex-direction: column;
           justify-content: center;
           align-items: center; 
           border: 0px solid red;
           gap:15px;
           font-size: 12px;
           margin-top: 40px;
           margin-left: 40px;
        }

        .nav{
            display: flex;
            justify-content: space-around; 
            align-items: center;
            
            padding: 20px;
        }

        .nav .btn{
            width:px;
            height:25px;
            padding: 5px;
        }

        
      
    
       
        .nav.active{
            left:0;
        }

       

        .menu a {
            color:white;
            font-size: 10px;
        }

        .menuc a{
           
            border: none;
            color: white;
            background-color: black;;
            
        }

        .menuc{
            border: 0px solid white;
            padding: 0px;
            border-radius: 0px;
            background-color:none;
            font-size: 10px;
        }

        .container1{
            display:flex;
            flex-direction:column-reverse;
            width:100%;
            height: 100%;
            
        }
        body{
            width:100%;
        }
        .container{
            width:100%;
            font-size: 15px;
            grid-template-columns: repeat(1,1fr);
           
            
           
        }

        .img{
            
            border-bottom: 0px;
            width: 100%;
            min-height: 50px;
            border-left: 0px;
            /* border-bottom: 500px solid transparent; */
            box-sizing: border-box;
            background-color: black;
            border: 0px solid red;
           
        
            
        }

        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            /* padding-left:0px;
            padding-top: 15px; */
            padding: 10px;
            width: 40%;
            height:100%;
            background-color: rgb(214, 214, 214);
            color: black;
            border: 0px solid red;
            
        }

        .pix{
            display: block;
            background-color: black;
            display: flex;
            justify-content: center;
            border: 2px solid white;
            width: 100%;
            padding: 10px;
        }

        #logo{
            margin-top: 0px;
            border: 0px solid greenyellow;
        }

        .info, .img{
            width:100%;
            
            
        }

        .img1{
            width:100%;
            
        }

        .abaut{
            padding:20px;
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:rgb(214, 214, 214);
            font-family: "Open Sans", sans-serif;
            font-size: 10px;
        }

        .portfolio{
            
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            background-color:rgb(214, 214, 214);
        }

        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            width:100%;
            margin-bottom: 20px;
            border: 0px solid black;
            text-align: center;
            gap: 20px;
        }
        
        card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* width:100%; */
            border: 0px solid red;
        }

        .about{
            justify-content: center;
            align-items: center;
        }

        .socials{
            margin-top: 10px;
            border: 0px solid black;
        }

         .name{
            font-size: 16px;
            font-weight: bold;
            
        }

      
        .intra{
            font-size: 12px;
            border: 0px solid red;
            margin-top: 15px;
        }
        .dev{
            font-size: 10px; 
        }
        .imgg{
            width:30px;
        }

        .abaut, .skill, .portfolio, .contact, .footer{
            width:100%;
        }

        .lang{
            display:grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            gap:20px;
            width: 100px;
        }

        .skill{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .portfolio .card{
            display:flex;
            flex-direction: column;
        }

        .crd{
            width:250px;
            height: 250px;
            border: 2px solid black;
            padding: 10px;
            display: block;
            border-radius: 5px;
            margin: 2px;
            
            
        }

        input, textarea{
            width:250px;
        }

        textarea{
            height:150px;
        }

        #bk a{
            font-size: 10px;
        }

        #copy{
            font-size: 10px;
        }



        #about, #skills, #port, #conct{
            border:0px solid black;
            padding:5px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }

        .right{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .intro{
            padding-top: 0px;
        }

        .black, #myabout{
            width:100%;
            padding: 10px;
            font-size: 10px;
            height:auto;
            justify-content: center;
            align-items: center;
        }

        .parent{
            display: flex;
            flex-direction: column;
           
        }

       

        .des{

            height:auto;
            font-size: 10px;
            padding: 10px;
        }

        .explore{
            font-size: 10px;
        }
        #sepa{
            width:80px;
        }

        .des3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;

        }
        .use{
            font-weight: bold;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            padding: 10px;
            text-align: end;
            border: 0px solid red;
            
            margin: 20px;
            margin-left: 0px;
            font-family: "Montserrat", sans-serif;
        }

        .lnk{
            font-size: 12px;
        }

        .footer{
            font-size: 10px;
        }
        .img2{
            width:20px;
        }
        
     }

@media (min-width:769px){
    .menus{
        width:80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border:0px solid red;
    }

    .menu{
        width: 100%;
        border: 0px solid greenyellow;
       
     }
    .nav{
        width:100%;
        border: 0px solid white;
        display: flex;
        justify-content: space-around;
    }

    /* .nav .btn{
        width:20%;
    } */
}
       
    

  
